@import '../styles/index';

.yo-button {
  appearance: none;
  outline: 0;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 32px;
  border: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  color: rgba(69,69,69,1);
  background-color: #fff;
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    border-radius: 4px;
    border: 1px solid rgba(151,151,151,0.3);
  }
  &:before {
    content: '';
    background-color: #333;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
  &:active:before {
    opacity: 0.1;
  }
  &.plain {
    background-color: #fff;
    color: rgba(60,60,67,0.6);
  }
  &.block {
    width: 100%;
  }
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  @each $key, $value in $type {
    &--#{$key} {
      background-color: $value;
      color: #fff;
      &:after {
        border: 1px solid $value;
      }
      &.plain {
        background-color: #fff;
        color: $value;
      }
    }
  }
  &.large {
    line-height: 48px;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    font-weight: 500;
    &:after {
      border-radius: 8px;
    }
  }
  &.small {
    line-height: 20px;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 4px;
  }
  &.radius {
    border-radius: 24px;
    &:after {
      border-radius: 48px;
    }
    &:before {
      border-radius: 24px;
    }
  }
  &.custom-color {
    &:after {
      border: 1px solid transparent;
    }
    &.plain:after {
      border: 1px solid currentColor;
    }
  }
}